{% extends 'theme::layouts/default' %}

{% block content %}
    <div class="search-result-container">
        <h2 class="search-result-title">
            Результа поиска "{{ query }}":
        </h2>
        {% if entities is empty %}
            Поиск не дал результатов.
        {% endif %}
        {% if entities is not empty %}
                {% for entity in paginator.getAllItems() %}
                    <div class="search-entry">
                        <a href="{{ entity.link }}" class="search-entry-link">
                            {{ entity.title }}
                        </a>
                        {{ entity.getPath() }}
                        <div class="search-entry-content">
                            {{ entity.content() | raw }}
                        </div>
                    </div>
                {% endfor %}
        {% endif %}
        {{ paginator.render() | raw }}
    </div>
{% endblock %}
